<mat-toolbar *ngIf="parameter != null">
    <mat-toolbar-row>
       <span> {{title}} </span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li *ngIf="parameter.newButton.isVisible == true">
                    <button mat-raised-button (click)="[parameter.newButton.fn && parameter.newButton.fn()]"><mat-icon>add</mat-icon>{{ parameter.newButton.name }}</button>
                </li>
                <li *ngIf="parameter.editButton.isVisible == true">
                    <button mat-raised-button (click)="[parameter.editButton.fn && parameter.editButton.fn()]"><mat-icon>edit</mat-icon>{{ parameter.editButton.name }}</button>
                </li>
                <li *ngIf="parameter.saveButton.isVisible == true">
                    <button mat-raised-button color="primary" (click)="[parameter.saveButton.fn && parameter.saveButton.fn()]"><mat-icon>save</mat-icon> {{ parameter.saveButton.name }}</button>
                </li>
                <li *ngIf="parameter.deleteButton.isVisible == true">
                    <button mat-raised-button color="warn" (click)="[parameter.deleteButton.fn && parameter.deleteButton.fn()]"><mat-icon>delete</mat-icon> {{ parameter.deleteButton.name }}</button>
                </li>
                <li *ngIf="parameter.backButton.isVisible == true">
                    <button mat-raised-button (click)="[parameter.backButton.fn && parameter.backButton.fn()]"><mat-icon>keyboard_backspace</mat-icon>{{ parameter.backButton.name }}</button>
                </li>
                <li *ngIf="parameter.menu.menuButton.isVisible == true">
                    <button mat-button [matMenuTriggerFor]="menu" color="primary">
                        <mat-icon color="primary">more_vert</mat-icon> {{parameter.menu.menuButton.name}}
                    </button>
                    <mat-menu #menu="matMenu" color="primary">
                      <div *ngFor="let item of parameter.menu.items">
                        <button type="item.type" mat-menu-item *ngIf="item.isVisible == true">
                            <mat-icon> {{item.icon}}</mat-icon>
                            {{item.name}}
                      </button>
                      </div>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>