<app-actions-toolbar [parameter]="toolbarParameter"></app-actions-toolbar>
<mat-divider></mat-divider>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>


  <mat-divider></mat-divider>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Begin generic column definition -->
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="column.actions == null">{{row[column.columnDef]}}</div>
          <div [style]="column.actions.style" *ngIf="column.actions != null">
            
            <button *ngIf="column.actions.edit != null" class="mat-focus-indicator mat-icon-button mat-button-base mat-primary ng-star-inserted" color="primary" mat-icon-button="" 
            mattooltip="Edit customer" aria-describedby="cdk-describedby-message-5" cdk-describedby-host="" (click)="[column.actions.edit.fn(row)]">
              <span class="mat-button-wrapper">
                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">create</mat-icon>
              </span>
              <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div>
            </button>

            <button *ngIf="column.actions.delete != null" class="mat-focus-indicator mat-icon-button mat-button-base mat-warn ng-star-inserted" color="warn" mat-icon-button="" 
            mattooltip="Delete customer" type="button" aria-describedby="cdk-describedby-message-6" cdk-describedby-host="">
              <span class="mat-button-wrapper">
                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">delete</mat-icon>
              </span>
                <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
           </button>
          </div>
        </td>
      </ng-container>
      <!-- End generic column definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>