<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>shopping_cart</mat-icon></div>
    <mat-card-title>Basket</mat-card-title>
  </mat-card-header>
  <div *ngIf="basket == null; else basketItems">
    <div class="header">
        <h2>Your basket is empty</h2>
    </div>
    <img  mat-card-image class="empty-basket" src="https://www.pinclipart.com/picdir/big/201-2018325_img-empty-shopping-cart-gif-clipart.png" alt="Empty Basket">
</div>
<ng-template #basketItems>
  <mat-card-subtitle>Your items:</mat-card-subtitle>
      <mat-list>
        <mat-list-item *ngFor="let item of basket.items">
        <mat-icon mat-list-icon>
          <img src="https://help.apple.com/assets/5D685479094622DB54849471/5D685B8E680CE2364361F458/en_US/cf42c331284c2c7d642cf36e06b39cf3.png"
          class="img-responsive" style="max-height: 40px;">
        </mat-icon>
        
        <div mat-line><h4>{{item.itemName}}</h4></div>
        <div mat-line> Qty: <b> 
          <input matInput type="number" class="basketQty" placeholder="" value="{{item.qty}}" (change)="updateItem($event, item.id);"></b>
        </div> 
        <div mat-line> <h4>Price: <b>{{item.totalPrice}} €</b></h4></div>
        <div mat-line>
        </div>
      </mat-list-item>
      </mat-list>
      <mat-card-actions>
        <button mat-button (click)="updateBasket();"><mat-icon color="accent">refresh</mat-icon>Update</button>
        <button mat-button (click)="deleteBasket();"><mat-icon color="warn">delete</mat-icon>Delete</button>
      </mat-card-actions>
      <mat-spinner *ngIf="processing == true"></mat-spinner>
</ng-template>

  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
</mat-card>