<app-actions-toolbar [parameter]="toolbarParameter" [title]="'New Catalog'"></app-actions-toolbar>
<mat-divider></mat-divider>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Eletronic">
  </mat-form-field>

  <!-- <app-category></app-category> -->
  <mat-form-field>
    <mat-label>Select</mat-label>
    <!-- <mat-select>
      <mat-option value="option">TV</mat-option>
      <mat-option value="option">Computer</mat-option>
    </mat-select> -->
    <mat-select placeholder="Category" multiple="true" >
      <mat-option 
        *ngFor="let item of categoriesSelect" 
        [value]="item.id"> 
        <!-- (click)="refine($event, item)"> -->
        {{ item.name }}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
  <!-- <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field> -->
<mat-divider></mat-divider>
<app-data-table [dataTable]="categoriesDatatable" [title]="'Categories'"></app-data-table>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->